// Navigation Styles here
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 5%;

  div {
    width: 50%;
  }

  a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
  }

  @media only screen and @mobile {
    width: 100%;
    flex-wrap: wrap;

    div {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.navline {
  width: 100%;
  border-bottom: @silver-border;
}
